*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}
.something{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.grid_container{
    width: 300px;
    height:300px;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    cursor: cell;
}
.grid_item{
    width:10%;
    height:10%;
    border:1px solid black;
}
.shoot{
    width:10%;
    height:10%;
    border:1px solid black;
}

.full_game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-evenly;
}
.user_grid_container{
    width: 300px;
    height:300px;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    cursor: cell;
}
.ai_grid_container{
    width: 300px;
    height:300px;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    cursor: cell;
}

.grid_item:hover{
    background-color: rgb(128, 128, 128);
}