@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Anton', sans-serif;
    height:100vh;
    width:100vw;
    background-color: rgba(33, 38, 58, 1);
    color: silver;
}

h1{
    text-align: center;
    padding:10px 0;
    font-size: 10rem;
    background-color: rgb(51, 55, 84);


}
h2{
    font-size: 3rem;
    text-align: center;
}
h3{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}
.select_container{
    background-color: rgb(33, 38, 58);
    height:100%;
    padding:30px;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    align-items: center;
}

.button_container{
    display: flex;
    flex-direction: column;
    gap:30px;
}
button{
    font-family: 'Anton', sans-serif;
    padding:10px;
    cursor: pointer;
    color: silver;
    background-color: rgb(33, 38, 58);
    border-radius: 10px;
    border: 1px solid #1eb0e0;
    font-size: 2rem;
}
button:hover{
    background-color: #1eb0e0;
    transition: 0.3s;
    color: rgb(33, 38, 58);
}


.grid_container{
    border-radius: 5px;
    width:50vh;
    height:50vh;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    cursor: none;

}
.grid_item{
    border-radius: 5px;
    width:10%;
    height:10%;
    border:1px solid black;
}
.grid_container .grid_item:hover{
    background-color: lightblue;
}




.full_game{
    background-color: rgb(33, 38, 58);
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    align-items: center;

}
.user_grid_container{
    width: 50vh;
    height:50vh;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

}
.ai_grid_container{
    width: 50vh;
    height:50vh;
    background-color: rgba(128, 128, 128, 0.8);
    display: flex;
    flex-wrap: wrap;
    cursor: none;
    border-radius: 5px;
}
.shoot{
    border-radius: 5px;
    width:10%;
    height:10%;
    border:1px solid black;
}


.shoot:hover{
    transition: 0.1s;
    background-color: lightblue;
}

.scores{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    background-color: #d2d2d2;
    padding:50px;
    color: #1b2531;
}
.user_score p, .ai_score p{
    font-size: 5rem;
}


footer{
    padding:20px;
    background-color: rgb(51, 55, 84);
    color: silver;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap:5px;
}

footer a{
    color: silver;
    text-decoration: none;
}

#git{
    font-size: 3rem;
    margin-top:-10px;
}
#git:hover{
    transition: 0.5s ;
    transform: rotate(360deg);
}
footer a:hover{
    color:white;
}